.rowSpace{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rowSpaceList {
    min-width: 230px;
    max-width: 600px;
    margin: 5px 0;
}
.filterName {
    min-width:70px;
    max-width:100px;
    display: inline-block;
    text-align:right;
    padding-right:10px;
}
.filterButton {
    margin: 6px 10px;
}
.flexDisplay {
    display: flex;
    justify-content: space-between;
    background: #1890ff3b;
    padding:8px;
}
.text {
    display: inline-block;
    margin: 25px 10px;
}
.textName {
    color: #ff0000;
}