<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>财务分析系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="https://statics.sheinside.cn/common/antd/<%= htmlWebpackPlugin.options.antdVersion %>/antd.min.css" rel="stylesheet">
</head>
<body>
<div id="container"></div>
<script>
  //埋点文件
  ! function (f, b, e, v, n, t, s) {
      if (f.sheinq) return;
      n = f.sheinq = function () {
          n.callMethod ?
              n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      n.push = n;
      n.loaded = !0;
      n.version = '1.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
  }(window, document, 'script', 'https://monitor-web.dotfashion.cn/burypoint/analysis.js');
  //初始化，系统id
  sheinq.push('init', {appId:'f6e94b81-3544-514c-873a-04d607f8ba69'});
</script> 
<%= htmlWebpackPlugin.options.cdnScript %>
</body>
</html>