.content {
    padding:10px;
}

.rowSpace{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /*margin-bottom: 15px;*/
}
.rowSpaceList {
    min-width: 230px;
    max-width: 400px;
    margin: 5px 0;
}
.filterName {
    min-width:70px;
    max-width:100px;
    display: inline-block;
    text-align:right;
    padding-right:10px;
}
.filterButton {
    margin: 6px 0;
    display: inline-block;
}
.filterItem {
    margin: 6px 8px;
}
.text {
    display: inline-block;
    margin: 25px 10px;
}