.rowSpace{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.rowSpaceList {
    min-width: 220px;
    /*max-width: 600px;*/
    /*margin: 5px 0;*/
    padding: 8px;
}
.flexDisplay {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding:8px;
    margin: 2px 0px;
}
.text {
    display: inline-block;
    margin: 25px 10px;
}
.textName {
    color: #ff0000;
}