.antLayoutAside {
    position: relative;
    min-height: 100%;
}
.antLayoutLogo {
    width: 100%;
    height: 32px;
    margin: 8px 0 4px;
    color:rgba(255,255,255,.8);
    font-size:20px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
.antLayoutSider {
    width: 220px;
    position: fixed;
    z-index: 100;
    height: 100%;
    background-color: #404040;
    transition: all 0.3s ease ;
}

.antLayoutMain {
    margin-left: 220px;
    height:100%;
    transition: all 0.3s ease ;
    background-color: #fff;
}

.antLayoutContent {
    padding:10px;
}

.antLayoutright{
    margin-left: auto;
    margin-right:30px;
    align-items: center;
    display: flex;
}
.logout{
    margin-right:10px;
    color: #fff;
}

.top_margin {
    display: flex;
    flex: 1;
    align-items: center;
    font-size:12px;
    font-weight: 500;
}
.antLayouttop{
    padding: 6px 0;
    display: flex;
    background-color: #ffffff;
    border-bottom: 1px solid #efefef;
}
.antLayouttop a{
    color: rgba(0,0,0,.65);
}
.antLayouttop linkcolor{
    color: rgba(0,0,0,.65);
}
a.linkcolor{
    color: rgba(0,0,0,.65);
}
.expandBtn{
    margin-right: 10px;
    border: none;
    color:rgba(0,0,0,.65);
    color: #fff;
}
a:focus{
    text-decoration: none;
}
.contentTitle {
    font-size: 80px;
    text-align: center;
    color: #00345c;
    margin-top: 200px;
    text-shadow: 4px 4px 10px #aaa;
}
/*.bodyBox {*/
/*padding: 5px;*/
/*width: calc(100% - 185px);*/
/*}*/
@media screen and (max-width: 640px) {
    .antLayoutSider, .antLayouttop {
        display: none;
    }f
    .antLayoutMain {
        margin-left: 0;
    }
    .mobileBack {
        display: none;
    }
}


/*   Shadow font  */
.contanier {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3c3c3c;
}
.demo{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.demo p:first-child {
    text-align: center;
    font-size: 130px;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: 5px;
    color: #fff;
    margin-bottom: 30px;
}

.demo p:first-child span {
    cursor: pointer;
    text-shadow: 0px 0px 2px #686868,
    0px 1px 1px #ddd,
    0px 2px 1px #d6d6d6,
    0px 3px 1px #ccc,
    0px 4px 1px #c5c5c5,
    0px 5px 1px #c1c1c1,
    0px 6px 1px #bbb,
    0px 7px 1px #777,
    0px 8px 3px rgba(100, 100, 100, 0.4),
    0px 9px 5px rgba(100, 100, 100, 0.1),
    0px 10px 7px rgba(100, 100, 100, 0.15),
    0px 11px 9px rgba(100, 100, 100, 0.2),
    0px 12px 11px rgba(100, 100, 100, 0.25),
    0px 13px 15px rgba(100, 100, 100, 0.3);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.demo p:first-child span:hover {
    text-shadow: 0px 0px 2px #686868,
    0px 1px 1px #fff,
    0px 2px 1px #fff,
    0px 3px 1px #fff,
    0px 4px 1px #fff,
    0px 5px 1px #fff,
    0px 6px 1px #fff,
    0px 7px 1px #777,
    0px 8px 3px #fff,
    0px 9px 5px #fff,
    0px 10px 7px #fff,
    0px 11px 9px #fff,
    0px 12px 11px #fff,
    0px 13px 15px #fff;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.demo p:not(:first-child) {
    text-align: center;
    color: #666;
    font-family: cursive;
    font-size: 20px;
    text-shadow: 0 1px 0 #fff;
    letter-spacing: 1px;
    line-height: 2em;
}
.siderStyle {
    background-color: #404040 !important;
    font-size: 12px !important;
}

@media screen and (max-width: 1200px)  and (min-width: 901px) {
    .demo p:first-child  {
        font-size: 110px;
        line-height: 85px;
    }
}
@media screen and (max-width: 900px) {
    .demo p:first-child  {
        font-size: 90px;
        line-height: 70px;
    }
}
.userInfo{
    display: flex;
    position: relative;
    margin-right: 55px;
    align-items: center;
}
.userInfo img{
    width: 22px;
    height: 22px;
    margin-right: 8px;
    border-radius: 100%;
    overflow: hidden;
}
.userInfo .btn{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translateX(-50%);
}
