.filter {
    display: flex;
    flex-direction: row;
    margin: 15px;
}
.filterLabel {
    margin: 0 10px;
}
.filter > div {
    margin: 0 25px 0 0;
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formValue {
    width: 60%;
    margin-left: 10px;
}
.formDiv {
    display: flex;
    margin: 15px;
}
.formName {width: 70px;}
.content {
    padding:10px;
}
.filterBg {
    margin:0 0 25px;
}

.rowSpace{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /*margin-bottom: 15px;*/
}
.rowSpaceList {
    min-width: 230px;
    max-width: 400px;
    margin: 5px 0;
}
form .colSpace{
    width:150px;
    display: inline-block;
}
form .colSpace2{
    width:300px;
    display: inline-block;
}
.filterSpace {
    margin-bottom: 20px;
}
.filterName {
    min-width:70px;
    max-width:100px;
    display: inline-block;
    text-align:right;
    padding-right:10px;
}
.filterButton {
    margin: 6px 0;
}
.filterItem {
    margin: 6px 8px;
}
.flexDisplay {
    display: flex;
    justify-content: space-between;
    background: #1890ff3b;
    padding:8px;
    margin: 16px -10px 0 -10px;
    /*margin-top: 16px;*/
}

.summary {
    display: flex;
    justify-content: flex-start;
}

.summary span {
    flex: 1;
}
.btn {
    padding-left: 0;
}

.pop {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}